net1c.ru {
    handle /health {
        reverse_proxy localhost:8000
    }
    handle /api/* {
        reverse_proxy localhost:8000
    }
    handle /uploads/* {
        reverse_proxy localhost:8000
    }
    handle {
        root * /app/miniapp/dist
        file_server
        try_files {path} /index.html
    }
}
